<!DOCTYPE html>
<html>
<head>
	<title>Brasil | Volvo Cars</title>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js"></script>

	<script>
	$(document).ready(function(){
	$.ajaxSetup({ cache: true });
	 $('#search').keyup(function(){
	  $('#result').html('');
	  $('#state').val('');
	  var searchField = $('#search').val();
	  var expression = new RegExp(searchField, "i");
	  $.getJSON('http://localhost:1234/read', function(data) {
	   $.each(data, function(key, value){
	    if (value.modelo.search(expression) != -1 || value.ID.search(expression) != -1)
	    {
	     $('#result').append('<li class="list-group-item link-class" style="color: white">'+value.modelo+' | <span class="text-muted">'+value.ID+'</span></li>');
	    }
	   });   
	  });
	 });
	 
	 $('#result').on('click', 'li', function() {
	  var click_text = $(this).text().split('|');
	  $('#search').val($.trim(click_text[0]));
	  $("#result").html('');
	 });
	});
	</script>

</head>

<body>
	<div class="barratop">
		
		<div class="barratop-centro">
			<a href=""><img class="logo" src="/logoVolvo.png"></a>
		</div>

		<a href="">Carros</a>
		<a href="">Comprar</a>
		<a href="">Proprietário</a>
		<a href="">Porque Volvo</a>

		<div class="barratop-right">
			<a href="">Configurador</a>
			<a href="">Encontre uma Concessionaria</a>
		</div>
	</div>

	<div>
		<img class="img" src="/imgVolvo.png">
	</div>

	<div class="inserir">

		<input type="text" placeholder="Modelo" name="modelo" id="modelo"/>
		<input type="number" placeholder="preco" name="preco" id="preco" />
		<input type="number" placeholder="ID" name="ID" id="ID" />
		<button type="submit" name="enviar" id ="enviar">Enviar</button>
		<br>
		<br>
		<input type="text" size="40" name="search" id="search" placeholder="Search Employee Details" class="form-control" />
    	<ul class="list-group" id="result"></ul>
   </div>
  

	</div>

	<div>
		{{#users}}
		<ul>
			<form method="post" action="/delete/{{_id}}">
				<button type="submit">Deletar</button>
				<p>
					Modelo:{{modelo}}<br>
					Preco:{{preco}}<br>
				 	ID:{{ID}}<br>
				 	_id:{{_id}}
				 </p>
			</form>
		</ul>
		{{/users}}

	</div>

	<dir id ="dados">
		<img src="/giphy.gif" id="img" style="display:none"/ >
	</dir>

</body>
</html>